/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark; /* Ép buộc chế độ tối */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0d0e12; /* Màu nền đen chuẩn Uniswap */
  color: white;
  display: block; /* Quan trọng: Vite mặc định là flex, cần đổi về block */
}

#root {
  width: 100%;
  margin: 0 auto;
}